# 开头代表注释
# `.DS_Store`: 忽略所有 .DS_Store 文件
#`\*.txt`: 忽略所有以 .txt 结尾的文件
#`!readme.txt`: 取消对 readme.txt 的忽略
#`folder/`: 忽略所有命名为 folder 的文件夹
#`/folder`: 指定文件夹路径，忽略根目录下的 folder 文件夹
#`folder/\*\*/\*.pdf`: 忽略 folder 文件夹内所有嵌套的文件夹中以 .pdf 结尾的文件

# macOS
.DS_Store
# Node
node_modules
# IDE
.idea/
.code/
.vscode/